@media screen and (max-width: 3000px) {
  #page {
  width: 1400px;
  margin: 0 auto;
  /*border: blue 5px solid;*/
}
header {
  height: 200px;
  width: 100%;
  padding: 15px 0;
  /*background-color: #337079;*/
  background: #dfefff;

}

header .headline{
  /*background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;*/
 
  line-height: 100px;
  /*float: left;*/
  font-size: 50px;
  margin-left: 100px;
  color: #454545;

}

button{
  display:inline-block;/*コレ*/
  }




main {
  height: 3000px;
  width: 100%;
  padding: 15px 0;
  /*background-color: #337079;*/
  /*background: #dfefff;*/
}

#back-home-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #4235fd;
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

/*home.vue*/

#go-how-to-use-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-how-to-use-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
  
#back-home-button:active {
  border-bottom: solid 2px #4235fd;
  box-shadow: 0 0 2px rgba(105, 75, 175, 0.3);
}

#question-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#question-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#login-button{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.nav-list {
  line-height: 400px;
  width:70%;
  float: left;
  margin-left: 30px;
  list-style: none;
}
.nav-list-item {
list-style: none;
display: inline-block;
margin: 30px;
}


/*room.vue*/
#create-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#create-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#go-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #08a745;/*背景色*/
  border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#go-my-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #08a745;/*背景色*/
  border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-my-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.main-contents {
  text-align:center;
  width: 100%;
}
.message_base {
  overflow: auto;
  max-height:500px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
}
.message {
  width: 30%;
  margin:10px 10px 10px auto;
  padding: 20px;
  background-color: #7ade40;
  border-radius: 10px;
  word-wrap: break-word;
}
.message_opponent {
  width: 30%;
  margin:10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  word-wrap: break-word;
}
.username {
    text-align: right;
    margin: -12px 10px 0px 0px;
    font-size: 14px;
}
.username_opponent {
    text-align: left;
    margin: -12px 0px 0px 10px;
    font-size: 14px;
}
  
.error {
  color: red;
}

#join-member {
    font-size: 20px;
    text-decoration:underline;/*下線を引く*/
    text-decoration-color:#FF0000;/*下線を赤色*/
}
/*use.vue*/
#computer_school_girl {
  position: relative;
  left:200px;
}
#radio_taiso{
  position: relative;
  left:500px;
}

/*room_create.vue*/

#movie {
  position:relative;
  width:30%;
}
#movie::placeholder{
  font-size:1.2em;
}

#title {
  position:relative;
  width:30%;
}
#title::placeholder{
  font-size:1.2em;
}
#password {
  width:30%;
  
}
#paasword::placeholder{
  font-size:1.2em;
}

#input1 {
  position:relative;
  top:5px;
}
#input2 {
  position:relative;
  top:10px;
}
#input3 {
  position:relative;
  top:15px;
}

#input4 {
  position:relative;
  top:15px;
}

#input5 {
  position:relative;
  top:25px;
}
#input6{
  position:relative;
  top:30px;
}

#errormessage {
  color:red
}

#room-create-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#room-create-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*in_the_room*/

#overlay{
  /*チャット*/
  /*　要素を重ねた時の順番　*/
  z-index:1;

  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: right;

}

#messageinput{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FFF;/*背景色*/
  border-bottom: solid 2px #FFF;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#sendMessage{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-button{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-close{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#delete-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd35aa;/*背景色*/
  border-bottom: solid 2px #fd35aa;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#delete-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


#play-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#play-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#two-buttons-up{
  text-align:center;
}

#two-buttons-down{
  text-align:center;
}


#all-members{
  text-align:center;
}




}


@media screen and (max-width: 1000px) {
  #page {
    width: 95%;
    /*-moz-animation: ;border-color: yellow;*/
  }
  main {
    width: 60%;
    height: 1000px;
    padding: 15px 0;
  }
  header {
  height: 100px;
  width: 50%;
  padding: 15px 0;
  /*background-color: #337079;*/
  background: #dfefff;
  }

  header .headline{
 
    line-height: 50px;
    /*float: left;*/
    font-size: 50px;
    margin-left: 100px;
    color: #454545;
  
  }

  #overlay{
    /*　要素を重ねた時の順番　*/
    z-index:1;
  
    /*　画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
  
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  #back-home-button {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #4235fd;
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
    
  #back-home-button:active {
    border-bottom: solid 2px #4235fd;
    box-shadow: 0 0 2px rgba(105, 75, 175, 0.3);
  }

  /*home.vue*/
  #go-how-to-use-button {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #go-how-to-use-button:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  #question-button {
    font-size: 1.0em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #question-button:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  #login-button {
    /*position: relative*/
    font-size: 1.0em;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }

  .nav-list {
    line-height: 400px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 30px;
}
  
  /*room.vue*/
  #create-room-button {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #create-room-button:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  
  #go-room-button {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #08a745;/*背景色*/
    border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #go-room-button:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  #go-my-room-button {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #08a745;/*背景色*/
    border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #go-my-room-button:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  
  
  .main-contents {
    text-align:center;
    width: 100%;
  }
  .message_base {
    overflow: auto;
    max-height:500px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #eee;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
  }
  .message {
    width: 30%;
    margin:10px 10px 10px auto;
    padding: 20px;
    background-color: #7ade40;
    border-radius: 10px;
    word-wrap: break-word;
  }
  .message_opponent {
    width: 30%;
    margin:10px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    word-wrap: break-word;
  }
  .username {
      text-align: right;
      margin: -12px 10px 0px 0px;
      font-size: 14px;
  }
  .username_opponent {
      text-align: left;
      margin: -12px 0px 0px 10px;
      font-size: 14px;
  }
    
  .error {
    color: red;
  }
  
  #join-member {
      font-size: 20px;
      text-decoration:underline;/*下線を引く*/
      text-decoration-color:#FF0000;/*下線を赤色*/
  }

  /*use.vue*/
  #computer_school_girl {
    position: relative;
    left:200px;
  }
  #radio_taiso{
    position: relative;
    left:400px;
  }

  /*room_create.vue*/

#movie {
  position:relative;
  width:30%;
  height:15px;
}
#movie::placeholder{
  font-size:1.4em;
}

#title {
  position:relative;
  width:30%;
  height:15px;
}
#title::placeholder{
  font-size:1.4em;
}
#password {
  width:30%;
  height:15px;
}
#paasword::placeholder{
  font-size:1.4em;
}
#input1 {
  position:relative;
  top:5px;
}
#input2 {
  position:relative;
  top:10px;
}
#input3 {
  position:relative;
  top:15px;
}

#input4 {
  position:relative;
  top:15px;
}

#input5 {
  position:relative;
  top:25px;
}
#input6{
  position:relative;
  top:30px;
}

#errormessage {
  color:red
}

#room-create-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#room-create-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*in_the_room*/

#overlay{
  /*チャット*/
  /*　要素を重ねた時の順番　*/
  z-index:1;

  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: right;

}

#messageinput{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FFF;/*背景色*/
  border-bottom: solid 2px #FFF;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#sendMessage{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-button{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-close{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#delete-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd35aa;/*背景色*/
  border-bottom: solid 2px #fd35aa;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#delete-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


#play-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#play-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#two-buttons-up{
  text-align:center;
}

#two-buttons-down{
  text-align:center;
}


#all-members{
  text-align:center;
}


}

@media screen and (max-width: 700px) {
  #page {
    width: 100%;
    /*border-color: red;*/
  }
  main {
    width: 30%;
    height: 2000px;
    padding: 15px 0;
  }
  header {
  height: 20px;
  width: 30%;
  padding: 1px 0;
  /*background-color: #337079;*/
  text-align:left;
  background: #dfefff;

}

header .headline{
  line-height: 10px;
  font-size: 30px;
  color: #454545;
}

#overlay{
  /*　要素を重ねた時の順番　*/
  z-index:1;

  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;

}

#back-home-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #4235fd;
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
  
#back-home-button:active {
  border-bottom: solid 2px #4235fd;
  box-shadow: 0 0 2px rgba(105, 75, 175, 0.3);
}

/*home.vue*/

#go-how-to-use-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-how-to-use-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#question-button {
  font-size: 1.0em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#question-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#login-button{
  font-size: 1.0em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  height: 50%;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

/* * {
  margin: 0;
  padding: 0;
}

.menu {
  line-height: 40px;
  position:relative;
}


.menu li {
  display: list-item;  
  list-style-type: none;
  text-transform: uppercase;
  padding: 0.5em;
}*/


.nav-list {
  line-height: 100px;
  width:80%;
  float: left;
  list-style: none;
}
.nav-list-item {
list-style: none;
display: inline-block;
margin: 20px;
}


/*room.vue*/
#create-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#create-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#go-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #08a745;/*背景色*/
  border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#go-my-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #08a745;/*背景色*/
  border-bottom: solid 2px #3b280c;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#go-my-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.main-contents {
  text-align:center;
  width: 100%;
}
.message_base {
  overflow: auto;
  max-height:500px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
}
.message {
  width: 30%;
  margin:10px 10px 10px auto;
  padding: 20px;
  background-color: #7ade40;
  border-radius: 10px;
  word-wrap: break-word;
}
.message_opponent {
  width: 30%;
  margin:10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  word-wrap: break-word;
}
.username {
    text-align: right;
    margin: -12px 10px 0px 0px;
    font-size: 14px;
}
.username_opponent {
    text-align: left;
    margin: -12px 0px 0px 10px;
    font-size: 14px;
}
  
.error {
  color: red;
}

#join-member {
    font-size: 20px;
    text-decoration:underline;/*下線を引く*/
    text-decoration-color:#FF0000;/*下線を赤色*/
}


/*use.vue*/
#computer_school_girl {
  position: relative;
  left:50px;
}
#radio_taiso{
  position: relative;
  left:100px;
}

/*room_create.vue*/

#movie {
  position:relative;
  width:80%;
 
}
#movie::placeholder{
  font-size:1.0em;
}

#title {
  position:relative;
  width:80%;
}
#title::placeholder{
  font-size:1.0em;
}
#password {
  position:relative;
  width:80%;
}
#paasword::placeholder{
  font-size:1.0m;
}

#input1 {
  position:relative;
  top:5px;
}
#input2 {
  position:relative;
  top:10px;
}
#input3 {
  position:relative;
  top:15px;
}

#input4 {
  position:relative;
  top:15px;
}

#input5 {
  position:relative;
  top:25px;
}
#input6{
  position:relative;
  top:30px;
}

#errormessage {
  color:red
}

#room-create-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#room-create-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*in_the_room*/
#overlay{
  /*チャット*/
  /*　要素を重ねた時の順番　*/
  z-index:1;

  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: right;

}

#messageinput{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FFF;/*背景色*/
  border-bottom: solid 2px #FFF;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  width:80%;
}


#sendMessage{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-button{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#chat-close{
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #e20505;/*背景色*/
  border-bottom: solid 2px #e20505;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
#delete-room-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd35aa;/*背景色*/
  border-bottom: solid 2px #fd35aa;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#delete-room-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


#play-button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

#play-button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#two-buttons-up{
  text-align:center;
}

#two-buttons-down{
  text-align:center;
}

#all-members{
  text-align:center;
}


iframe {
  width: 100%;
  max-width: 650px; /* youtubeのwindowの幅をスマホに合わせる */
}



}

